.product {
  width: 24%;
}

.product img {
  width: 100%;
}

.product a {
  text-decoration: none;
}

.product a:visited {
  color: unset;
}

.productInfo {
}

.productDetials {
}

@media screen and (max-width: 800px) {
  .product {
    width: 48%;
  }
}
