.productWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0 0;
}

.galleryWrapper {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  max-width: 660px;
}

.smallGallery img {
  display: block;
  width: 50%;
  max-width: 50px;
  margin: 0 20px 20px;
}

.largeGallery {
  height: 800px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.largeGallery::-webkit-scrollbar {
  display: none;
}

.largeGallery img {
  display: block;
  margin: 0 0 10px;
  width: 100%;
}

.productDetails {
  width: 50%;
  padding: 40px 15px;
}
.productName {
  text-transform: capitalize;
}

.addToCart {
  background: #e31442;
  color: white;
  padding: 10px 35px;
  font-size: 18px;
  border: 2px solid #e31442;
  border-radius: 10px;
  margin: 10px 0 20px;
}

.addToCart:hover {
  cursor: pointer;
  background: white;
  color: #e31442;
}

.sizeOptions {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.size {
  background: #fff;
  border: 2px solid #d2d2d2;
  padding: 5px;
  width: 40px;
  text-align: center;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}

.size:hover,
.active {
  border: 2px solid #e31442;
  cursor: pointer;
}

.price {
  font-size: 25px;
  font-weight: bold;
  color: gray;
}

.productDetails h3 {
  font-size: 17px;
}
.error {
  color: red;
  padding: 0;
  margin: 0 0 10px;
}

.loading {
  text-align: center;
}
