.product {
  width: 18%;
}

.bannerProduct {
  width: 24%;
}

.product img {
  width: 100%;
}

.product a {
  text-decoration: none;
}

.product a:visited {
  color: unset;
}

.productInfo {
  position: relative;
}

.product .description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: #fff;
  padding: 3% 5% 0;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.8s;
  overflow: hidden;
  background: rgb(0, 0, 0, 0.6);
  height: 99%;
}

.product .description:hover {
  opacity: 1;
}

.productDetails {
  position: relative;
}

.productDetails h3 {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  width: 100%;
}

.productDetails .price {
  font-weight: 500;
  color: #333;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .product {
    width: 48%;
  }
}
