.categoryWrapper {
  max-width: 1300px;
  margin: 0 auto 80px auto;
  padding: 0 20px;
}
.categoryList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.sectionTitle {
  font-size: 30px;
  padding-left: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .sectionTitle {
    font-size: 20px;
    padding-left: 0px;
  }
}
