.featuredWrapper {
  max-width: 1300px;
  margin: 0 auto 0px auto;
  padding: 0 20px;
}

.featuredWrapper h1 {
  font-size: 30px;
  padding-left: 10px;
  text-transform: uppercase;
}

.featuredProducts ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .featuredWrapper h1 {
    font-size: 20px;
    padding-left: 0px;
  }
}
