.header {
  height: 100px;
  position: sticky;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px 0px;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 1903px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

.header .logo {
  color: white;
  font-size: 20px;
  margin: 0;
}

.logo a,
.logo a:visited {
  text-decoration: none;
  color: unset;
}

.categoryList {
  display: flex;
  gap: 50px;
  justify-content: center;
  text-align: center;
  margin: 0;
  list-style: none;
  padding: 0;
}

.categoryList li a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.categoryList li a:hover,
.categoryList li a.active {
  color: #0098db;
}

.cartWrapper {
  position: relative;
}

.quantity {
  position: absolute;
  top: -7px;
  left: 14px;
  color: #0098db;
  border: 2px solid #0098db;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}

.cartWrapper:hover {
  cursor: pointer;
}

.logo h1 {
  color: #333;
  font-size: 30px;
}
.logo span {
  color: #0181ee;
}
