.header {
  height: 100px;
  position: sticky;
  background: #d2d2d2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px 0px;
  top: 0;
  padding: 0 30px 0 30px;
  z-index: 10;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header ul {
  margin: 0;
  list-style: none;
}

.header .logo {
  color: white;
  font-size: 20px;
  margin: 0;
}

.categoryList {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.categoryList li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
