.bannerItem {
  width: 33%;
  max-width: 630px;
  position: relative;
}

.bannerItem img,
.subCategory img {
  width: 100%;
}

.bannerItem a,
.subCategory a {
  text-decoration: none;
  color: white;
}

.bannerItem h2 {
  position: absolute;
  bottom: 0px;
  left: 20px;
  font-size: 32px;
}

.bannerItem:nth-child(2) {
  margin: 0 10px 0 10px;
}

/* .bannerItem:nth-child(3) h2,
.subCategory:nth-child(1) h2,
.subCategory:nth-child(6) h2 {
  color: #00a0ee;
} */

.bannerItem:hover,
.subCategory:hover {
  opacity: 0.9;
}

.subCategory {
  position: relative;
  width: 24%;
}

.subCategory h2 {
  position: absolute;
  left: 15px;
  bottom: 0;
  font-size: 24px;
}

.subCategory:nth-child(1),
.subCategory:nth-child(6) {
  width: 48%;
}

/* .test {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 370px !important;
  background: #d2d2d2;
  opacity: 0.2;
  z-index: 5;
} */

@media screen and (max-width: 800px) {
  .bannerItem {
    width: 100%;
    max-width: 375px;
    position: relative;
    margin: 0px auto 10px auto !important;
  }
}
@media screen and (max-width: 600px) {
  .subCategory {
    width: 48%;
  }
  .subCategory:nth-child(1),
  .subCategory:nth-child(6) {
    width: 100%;
  }
}
