.homebanner {
  /* background-image: url("../../images/banner.jpg"); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(75vh - 100px);
  background: #bbddea;
  overflow: hidden;
  position: relative;
}

.bannerModel {
  background-image: url("../../images/bannermodel.png");
  background-position: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 125px;
}

.bannerTextWrapper {
  position: absolute;
  width: 100%;
  max-width: 1360px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerText {
  color: #333;
  position: relative;
  max-width: 40%;
  top: 15%;
  padding: 0 30px;
}

.bannerText h1 {
  font-size: 2.5vw;
  text-transform: capitalize;
}

.bannerText span {
  color: #0181ee;
}

.bannerText p {
  margin-bottom: 50px;
}

.bannerCTA {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #0181ee;
  color: white;
  font-weight: bold;
  background: #0181ee;
  transition: 0.25s ease-in-out;
}

.bannerCTA:hover {
  border: 2px solid #0181ee;
  color: #0181ee;
  background: white;
}

@media screen and (max-width: 600px) {
  .homebanner {
    display: block;
    padding: 30px 0 40px;
    height: auto;

  }
  .bannerModel{
    display: none;
  }
  .bannerTextWrapper{
    top: unset;
    left: unset;
    transform: unset;
    -webkit-transform: unset;
    height: auto;
    position: relative;
  }
  .bannerText{
    max-width: unset;
    top: unset;
  }

  .bannerText h1{
    font-size: 6vw;
  }

  .bannerText p{
    margin-bottom: 30px;
  }
}
