.cart {
  position: fixed;
  right: 0;
  z-index: 5;
  transform: translateY(-100%);
  transition: all 0.3s;
}
.active {
  transform: translateY(0) !important;
  z-index: 5;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close:hover {
  cursor: pointer;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cartTotal {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.clearCart {
  color: red;
  font-weight: normal;
  cursor: pointer;
}

.checkoutWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.checkout {
  padding: 10px 25px;
  font-weight: bold;
  background: #e31442;
  border: 1px solid #e31442;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}
